.nav-spacer {
  flex: 1 1 auto;
}

.nav-categories {
  margin-left: 1rem;
}

.nav-buttons > button {
  margin: 0 .2rem;
}

.logo-icon {
  margin-right: .5rem;
}

.logo-text, .logo-icon {
  cursor: pointer;
}

.username {
  display: inline;
  font-size: 15px;
  cursor: pointer;
}
