<nav>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="mat-elevation-z8">
      <mat-icon [routerLink]="'/'" class="logo-icon" aria-hidden="false" aria-label="user verified icon">memory</mat-icon>
      <span class="logo-text" [routerLink]="'/'">PC Parts</span>
      <section class="nav-categories">
        <a mat-button [routerLink]="'parts/' + category.name.toLowerCase()" *ngFor="let category of categories">{{ category.name }}</a>
      </section>
      <span class="nav-spacer"></span>
      <section class="nav-buttons">
        <button [routerLink]="'cart'" mat-icon-button><mat-icon>shopping_cart</mat-icon></button>
        <button [routerLink]="'login'" mat-icon-button><mat-icon>account_circle</mat-icon></button>
        <p [routerLink]="'profile'" class="username" *ngIf="user">{{ user.firstName }}</p>
      </section>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
