<footer>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <section class="footer-logo">
        <mat-icon class="logo-icon">memory</mat-icon>
        <span>PC Parts</span>
      </section>
      We help you select the best components for your new build!
      <section class="footer-buttons">
        <button [routerLink]="'cart'" mat-icon-button><mat-icon>shopping_cart</mat-icon></button>
        <button mat-icon-button><mat-icon>build</mat-icon></button>
        <button [routerLink]="'login'" mat-icon-button><mat-icon>account_circle</mat-icon></button>
      </section>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
