<app-add-category (add)="add($event)" *ngIf="user.role === 'ADMIN'"></app-add-category>
<section>
  <mat-card *ngFor="let category of categories">
    <mat-card-title class="capitalize">{{ category.name }}</mat-card-title>
    <mat-card-content>{{ category.description }}</mat-card-content>
    <mat-card-actions>
      <button [routerLink]="'parts/' + category.name.toLowerCase()" mat-flat-button color="primary">View products</button>
      <button class="delete" (click)="delete(category.name)" *ngIf="user.role === 'ADMIN'" mat-flat-button color="warn">Delete</button>
    </mat-card-actions>
  </mat-card>
</section>
